{{#extends 'base'}}
{{#block "content"}}
    <div>
        <div id="first-fold">
            <div class="content">
                <a href="/login" class="log-in">Log-in</a>
                <img src="img/table.png" class="header-img" alt="table-photo">
                <img src="img/text.png" class="header-img" alt="text-photo">
            </div>
        </div>
    </div>
{{/block}}
{{/extends}}